<div class="navbar">
  <div class="navbar-content">
    <button mat-icon-button class="menu-button" (click)="toggleSidebar()">
      <mat-icon>menu</mat-icon>
    </button>
    
    <div class="navbar-brand">
      Employee List
    </div>

    <div class="navbar-actions">
      <div class="user-section">
        <mat-icon>account_circle</mat-icon>
        <span>Welcome, {{ userName || 'User' }}</span>
        <button mat-button (click)="signOut()">Logout</button>
      </div>
    </div>
  </div>
</div> 